/* CSS */
.check-icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    pointer-events: none;
}

.check-container:has(input[type="checkbox"]:checked) {
    border: none;
}

input[type="checkbox"]:checked + .check-icon {
    display: flex;
}



