#
# APP
#
NODE_ENV=local
PORT=3001
HOST=localhost
JWT_SECRET=secret

#
# DATABASE
#
DB_PORT=db_port
DB_HOST=localhost
DB_NAME=db_name
DB_USERNAME=db_username
DB_PASSWORD=db_user_password
DB_DIALECT=pg
DB_POOL_MIN=2
DB_POOL_MAX=10

#
# SENDGRID
#
EMAIL_API_KEY=key
EMAIL_FROM=bsalimedev@gmail.com

#
# STRAVA
#
STRAVA_CLIENT_ID=client_id
STRAVA_CLIENT_SECRET=client_secret
