.label {
    display: table-cell;
    width: 83px;
    height: 37px;
    padding: 9px, 24px;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    cursor: pointer;
}

.radio-card:checked + .label {
    @apply bg-lm-yellow-100;
}
