.base-layout {
    grid-template:
        "header header"
        "aside main";

    @apply grid grid-cols-[256px,auto] grid-rows-[88px,auto] overflow-hidden transition-all duration-[0.5s] ease-[ease-in-out] lg:grid-cols-[288px,auto];
}

.content-container {
    @apply bg-lm-black-200 p-8 overflow-y-auto overflow-x-hidden max-h-90;

    grid-area: main;
}

.base-layout:not(.sidebar-closed) {
    @apply overflow-hidden;
}

.base-layout.sidebar-closed {
    grid-template:
        "header header" 88px
        "aside main" /0;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--background-primary);
}

::-webkit-scrollbar-thumb {
    background: var(--button-primary);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--button-secondary);
}
