.base-layout {
    @apply grid grow-[1] grid-cols-2 grid-rows-2 transition-all duration-[0.5s] ease-[ease-in-out];

    grid-template:
        "header header" 88px
        "aside main" / 288px;
}

.content-container {
    @apply bg-secondary;

    grid-area: main;

    @apply p-[2rem];
}

.base-layout.sidebar-closed {
    grid-template:
        "header header" 88px
        "aside main" / 0%;
}
