.base-layout {
    grid-template:
        "header header"
        "aside main";

    @apply grid grid-rows-[88px,auto] overflow-hidden lg:grid-cols-[288px,auto] grid-cols-[256px,auto] transition-all duration-[0.5s] ease-[ease-in-out];
}

.content-container {
    @apply bg-lm-black-200 p-8;

    grid-area: main;
}

.base-layout:not(.sidebar-closed) {
    @apply overflow-hidden;
}

.base-layout.sidebar-closed {
    grid-template:
        "header header" 88px
        "aside main" /0;
}
