.base-layout {
    @apply grid grid-cols-2 grid-rows-2 transition-all duration-[0.5s] ease-[ease-in-out];

    grid-template:
        "header header" 88px
        "aside main" / 288px;
}

.content-container {
    @apply bg-secondary p-8;

    grid-area: main;
}

.base-layout.sidebar-closed {
    grid-template:
        "header header" 88px
        "aside main" / 0%;
}
