@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .h1 {
        @apply text-4xl leading-9;
    }

    .h2 {
        @apply text-3xl leading-8;
    }

    .h3 {
        @apply text-2xl leading-7;
    }

    .h4 {
        @apply text-xl leading-6;
    }

    .h5 {
        @apply text-base leading-5;
    }

    .body {
        @apply text-sm leading-4;
    }

    .body-sm {
        @apply text-xs leading-3;
    }
}

body {
    background-color: var(--background-primary);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    white-space: nowrap;
    border: 0;
}
