@import url("./date-picker.css");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .h1 {
        @apply text-4xl leading-9;
    }

    .h2 {
        @apply text-3xl leading-8;
    }

    .h3 {
        @apply text-2xl leading-7;
    }

    .h4 {
        @apply text-xl leading-6;
    }

    .h5 {
        @apply text-base leading-5;
    }

    .body {
        @apply text-sm leading-4;
    }

    .body-sm {
        @apply text-xs leading-3;
    }
}

:root,
.light {
    /* BUTTON */
    --button-text: rgb(255 255 255); /* White */
    --button-primary: rgb(178 202 13); /* #B2CA0D */
    --button-secondary: rgb(148 168 7); /* #94A807 */
    --button-tertiary: rgb(178 192 211); /* #B2C0D3 */

    /* TEXT */
    --text-primary: rgb(0 0 0); /* Black */
    --text-secondary: rgb(49 49 52); /* lm-grey-400 */
    --text-action: rgb(178 202 13); /*  lm-yellow-200 */

    /* BACKGROUND */
    --background-primary: rgb(255 255 255); /* White */
    --background-secondary: rgb(243 243 243); /* #F3F3F3 */
}

.dark {
    /* BUTTON */
    --button-text: rgb(49 49 52); /* lm-black-300 */
    --button-primary: rgb(224 254 16); /* lm-yellow-100 */
    --button-secondary: rgb(178 202 13); /* lm-yellow-200 */
    --button-tertiary: rgb(71 85 105); /* lm-grey-300 */

    /* TEXT */
    --text-primary: rgb(255 255 255); /* White */
    --text-secondary: rgb(121 131 146); /* lm-grey-200 */
    --text-action: rgb(224 254 16); /* lm-yellow-100 */

    /* BACKGROUND */
    --background-primary: rgb(28 34 39); /* lm-black-200 */
    --background-secondary: rgb(42 47 55); /* lm-black-100 */
}

body {
    background-color: var(--background-primary);
}
