@import url("./date-picker.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .h1 {
        @apply text-4xl leading-9;
    }

    .h2 {
        @apply text-3xl leading-8;
    }

    .h3 {
        @apply text-2xl leading-7;
    }

    .h4 {
        @apply text-xl leading-6;
    }

    .h5 {
        @apply text-base leading-5;
    }

    .body {
        @apply text-sm leading-4;
    }

    .body-sm {
        @apply text-xs leading-3;
    }
}

:root,
.light {
    --text-primary: rgb(0 0 0); /* Black */
    --text-secondary: rgb(49 49 52); /* lm-grey-400 */
    --text-action: rgb(178 202 13); /*  lm-yellow-200 */
    --button-primary: rgb(224 254 16); /* lm-yellow-100 */
    --button-secondary: rgb(64 68 75); /* lm-black-100 */
    --background-primary: rgb(255 255 255); /* White */
    --background-secondary: rgba(243 243 243 1); /* lm-yellow-100 */
    --background-transparent: rgb(64 68 75); /* lm-black-100 */
}

.dark {
    --text-primary: rgb(255 255 255); /* White */
    --text-secondary: rgb(121 131 146); /* lm-yellow-200 */
    --text-action: rgb(224 254 16); /* lm-yellow-100 */
    --button-primary: rgb(224 254 16); /* lm-yellow-100 */
    --button-secondary: rgb(64 68 75); /* lm-black-100 */
    --background-primary: rgb(64 68 75); /* lm-black-100 */
    --background-secondary: rgb(28 34 39); /* lm-black-200 */
    --background-transparent: rgba(0 0 0 0%); /* Transparent */
}
